<div [ngClass]="endingAnimation.cssClass">{{ endingAnimation.label }}</div>

<div class="row">
  <div class="col-xs-4">
    <player-score [playerId]="1" [score]="scoreBlack"></player-score>
  </div>
  <div class="col-xs-4">
    <btn-start [isPlaying]="playing" (click)="startGame()"></btn-start>
  </div>
  <div class="col-xs-4">
    <player-score [playerId]="2" [score]="scoreWhite"></player-score>
  </div>
</div>

<othello-board [matrix]="matrix" [isPlaying]="playing" (selection)="select($event)"></othello-board>
